body{
    display: flex;
    flex-direction: column;
    width: 200vh;
    height: 100vh;
    background-color: black;

    
}

*{
    font-family: 'Roboto';
}

.block{
    display: block !important;
}



h1,h2,p{
    margin: 0;
}
.container{
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    h1{
        color: white;
        text-align: center;
        text-transform: uppercase;
        font-size: 20px;
    }
}

.red_container{
    display: none;
    align-items: center;
    width: 500px;
    height: 500px;
    overflow: hidden;
}

.red1{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FC4647;
    width: 500px;
    height: 500px;
    animation: spawnred 2s both;
    h1{
        font-size: 50px;
        opacity: 1;
        animation: spawnredtext 3s both;
       
    }
    &::after{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 500px;
        height: 500px;
    }
    .redscare{
        content: "";
        width: 100%;
        height: 45%;
        background-color: #FC4647;
        margin-bottom: 50px;
        animation: margin 2s;
    }
    .text{
        width: 100%;
        height: 100%;
        z-index: 3;
    }
    .classement{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: 0;
        top: 0;
        right: 0;
        left: 0;
        z-index: -9999;
    }
}

.container_classement{
    display: none;
    position: absolute;
    width: 500px;
    height: 500px;
    animation: blanc 1.5s both;
    animation-delay: 2s;
    z-index: 1000;
    background-color: white;
    transform: translatey(-650px);
}

.formulaire{
    display: flex;
    flex-direction: row;
    width: 500px;
    input{
        height: 50px;
        justify-content: center;
        text-align: center;
        font-size: 20px;
    }
    .left{
        display: flex;
        flex-direction: column;
        width: 250px;
    }
    .right{
        display: flex;
        flex-direction: column;
        width: 250px;
    }

}
.input{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 20%;
    right: 20%;
} 

.close{
    width: 0px !important;
    height: 0px !important;
    transition: all 2000ms !important;
}

.close2{
    animation : redinblanc2 1.5s both!important;
}

.bouton{
    width: 500px;
    height: 50px;
    font-size: 20px;
    bottom: 0;
    right: 0;
}

.bottom{
    display: flex;
    flex-direction: column;
}

.blanc{
    position: absolute;
    width: 500px;
    height: 500px;
    z-index: 1000;
    background-color: white;
    .red2{
        background: rgb(248,77,81);
        background: radial-gradient(circle, rgba(248,77,81,1) 47%, rgba(236,64,69,1) 100%);
        animation: redinblanc 1.5s both;
        animation-delay: 3s;
        width: 100%;
        h1{
            padding: 20px;
            font-size: 45px;
        }
    }
    ol{
        list-style: none; 
        counter-reset: li;
        font-size: 30px;
        margin: 0;
        padding: 0px 20px;
        li {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            counter-increment: li;
            height: 100px;

        }

        .player{
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            opacity: 0;
            animation: point both 2s;
            animation-delay: 4s;
            padding: 10px;
            p{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
            }
            p::before {
                content: counter(li); color: #D66D6C;
                display: inline-block; width: 1em;
                font-weight: 700;
                font-size: 50px;
                padding: 10px 0px;
                opacity: 0;
                animation: counter both 2s;
                animation-delay: 4s;
            }
        }
        .point{
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 900;
            color: rgb(248,77,81);
            font-family: 'Roboto';
            padding: 10px;
            opacity: 0;
            animation: point both 2s;
            animation-delay: 4s;
        }

    }
    
}

button[disabled=disabled], button:disabled {
background-color: #FC4647;
border: 0;
color: white;
transition: all 1000ms;
}


.bottom{
    position: relative;
}

.info{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 300px;
    height: 50px;
    background-color: white;
    border: 0;
    top: 50px;
    left: 525px;
    border-radius: 15px;
    opacity: 0.5;
    transition: all 1500ms;
}


.none{
    opacity: 0;
    transition: 1000ms all;
 }

@keyframes  margin{


    0%{
        margin-bottom: 0;
    }
    100%{
        margin-bottom: 50px;
    }


    
}

@keyframes spawnred{
    0%{
        height: 0px;
    }

}

@keyframes spawnredtext{
    0%{
        transform: translateY(-200px);
        
    }

    20%{
        opacity: 1;
    }


    50%{
        opacity: 1;
        transform: translateY(0px);
    }



    100%{
        opacity: 0;
        transform: translateY(200px);

    }



}


@keyframes blanc {
    0%{
        
        transform: translatey(-650px);
    }


    70%{
        
    }
    100%{
        transform: translatey(0px);

    }
}


@keyframes redinblanc {
    0%{
        height: 0;
        
    }

    100%{
        height: 100px;

    }
}

@keyframes redinblanc2 {
    0%{
        height: 100px;
        
    }

    100%{
        height: 0;

    }
}


@keyframes counter {
    0%{
        transform: translatex(-20px);
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

@keyframes point {
    0%{
        transform: translatey(-20px);
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

